<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apwglobal.allegro.server.dao.AuctionDao">

    <select id="getAuctions" parameterType="map" resultType="com.apwglobal.nice.domain.Auction">
        SELECT *
        FROM auctions
        WHERE
            sellerid=#{sellerId}
        <if test="open.isPresent()">
             AND open = #{open,jdbcType=BOOLEAN}
        </if>
        ORDER BY id DESC
        <if test="limit.isPresent()">
            limit #{limit,jdbcType=INTEGER}
        </if>
    </select>

    <select id="getAuctionById" parameterType="map" resultType="com.apwglobal.nice.domain.Auction">
        SELECT * FROM auctions WHERE id = #{itemId} AND sellerid = #{sellerId}
    </select>

    <insert id="saveAuction" parameterType="com.apwglobal.nice.domain.Auction" keyProperty="Id">
        INSERT INTO auctions
        (id, sellerId, title, thumbnailUrl, startQuantity, soldQuantity, quantityType, startTime,
         endTime, biddersCounter, categoryId, watchersCounter, viewsCounter,
         note, special, shop, payu, price, priceType, "open")
        VALUES (
            #{id}, #{sellerId}, #{title}, #{thumbnailUrl}, #{startQuantity}, #{soldQuantity}, #{quantityType}, #{startTime},
            #{endTime,jdbcType=TIMESTAMP}, #{biddersCounter}, #{categoryId}, #{watchersCounter}, #{viewsCounter},
            #{note}, #{special}, #{shop}, #{payu}, #{price}, #{priceType}, #{open}
        )
    </insert>

    <update id="updateAuction" parameterType="com.apwglobal.nice.domain.Auction">
      UPDATE auctions SET
          startQuantity = #{startQuantity},
          soldQuantity = #{soldQuantity},
              biddersCounter = #{biddersCounter},
              watchersCounter = #{watchersCounter},
              viewsCounter = #{viewsCounter}
        WHERE id = #{id}
    </update>

    <update id="closeAuction" parameterType="map">
        UPDATE auctions SET open = false WHERE id = #{itemId} AND sellerid = #{sellerId}
    </update>

</mapper>