<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apwglobal.allegro.server.dao.AuctionDao">

    <select id="getAllAuctions" resultType="com.apwglobal.nice.domain.Auction">
        SELECT *
        FROM auctions
        ORDER BY id ASC
    </select>

    <select id="getAuctionById" parameterType="long" resultType="com.apwglobal.nice.domain.Auction">
        SELECT * FROM auctions WHERE id = #{id}
    </select>

    <select id="getAuctionStatusById" parameterType="long" resultType="com.apwglobal.nice.domain.AuctionStatus">
        SELECT * FROM auctions_statuses WHERE itemId = #{itemId}
    </select>
    <select id="getAuctionStatusesByStatus" resultType="com.apwglobal.nice.domain.AuctionStatus">
        SELECT * FROM auctions_statuses WHERE status = #{status}
    </select>

    <insert id="saveAuction" parameterType="com.apwglobal.nice.domain.Auction" keyProperty="Id">
        INSERT INTO auctions
        (id, title, thumbnailUrl, startQuantity,
         soldQuantity, quantityType, startTime, endTime, biddersCounter, categoryId,
         watchersCounter, viewsCounter, note, special, shop, payu, price, priceType)
        VALUES (
            #{id}, #{title}, #{thumbnailUrl}, #{startQuantity}, #{soldQuantity},
            #{quantityType}, #{startTime}, #{endTime,jdbcType=TIMESTAMP}, #{biddersCounter}, #{categoryId},
            #{watchersCounter}, #{viewsCounter}, #{note}, #{special}, #{shop}, #{payu}, #{price}, #{priceType}
        )
    </insert>

    <update id="updateAuction" parameterType="com.apwglobal.nice.domain.Auction">
      UPDATE auctions SET
          soldQuantity = #{soldQuantity},
              biddersCounter = #{biddersCounter},
              watchersCounter = #{watchersCounter},
              viewsCounter = #{viewsCounter}
        WHERE id = #{id}
    </update>



    <insert id="saveAuctionStatus" parameterType="com.apwglobal.nice.domain.AuctionStatus" keyProperty="itemId">
        INSERT INTO auctions_statuses
        (itemId, ref, status)
        VALUES (#{itemId}, #{ref}, #{status})
    </insert>

    <update id="closeAuctionStatus" parameterType="com.apwglobal.nice.domain.AuctionStatus">
        UPDATE auctions_statuses SET
            status = 'CLOSE'
        WHERE itemId = #{itemId}
    </update>

</mapper>