<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apwglobal.allegro.server.dao.AuctionDao">

    <select id="getAllAuctions" resultType="com.apwglobal.nice.domain.Auction">
        SELECT *
        FROM auctions
    </select>

    <select id="getAuctionById" parameterType="long" resultType="com.apwglobal.nice.domain.Auction">
        SELECT * FROM auctions WHERE itemId = #{itemId}
    </select>

    <insert id="saveAuction" parameterType="com.apwglobal.nice.domain.Auction" keyProperty="itemId">
        INSERT INTO auctions
        (itemId, itemTitle, itemThumbnailUrl, itemStartQuantity,
         itemSoldQuantity, itemQuantityType, itemStartTime, itemEndTime, itemBiddersCounter, itemCategoryId,
         itemWatchersCounter, itemViewsCounter, itemNote, special, shop, payu, price, priceType)
        VALUES (
            #{itemId}, #{itemTitle}, #{itemThumbnailUrl}, #{itemStartQuantity}, #{itemSoldQuantity},
            #{itemQuantityType}, #{itemStartTime}, #{itemEndTime,jdbcType=TIMESTAMP}, #{itemBiddersCounter}, #{itemCategoryId},
            #{itemWatchersCounter}, #{itemViewsCounter}, #{itemNote}, #{special}, #{shop}, #{payu}, #{price}, #{priceType}
        )
    </insert>

    <update id="updateAuction" parameterType="com.apwglobal.nice.domain.Auction">
      UPDATE auctions SET
          itemSoldQuantity = #{itemSoldQuantity},
              itemBiddersCounter = #{itemBiddersCounter},
              itemWatchersCounter = #{itemWatchersCounter},
              itemViewsCounter = #{itemViewsCounter}
        WHERE itemId = #{itemId}
    </update>

</mapper>