<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apwglobal.allegro.server.dao.DealDao">

    <select id="findLastRowId" resultType="java.util.Optional">
        SELECT max(eventid)
        FROM deals
    </select>

    <select id="getLastDeals" parameterType="int" resultType="com.apwglobal.nice.domain.Deal">
        SELECT *
        FROM deals
        ORDER BY eventid DESC
        LIMIT #{limit}
    </select>

    <insert id="createDeal">
        INSERT INTO deals
        (eventid, dealtype, eventtime, id, transactionid, sellerid, itemid, buyerid, quantity)
        VALUES
            (#{eventId}, #{dealType}, #{eventTime}, #{id}, #{transactionId, jdbcType=BIGINT}, #{sellerId}, #{itemId}, #{buyerId}, #{quantity})
    </insert>

</mapper>